body{
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.title{
  font-size: 30px;
  font-weight: bold;
}

.move-button{
  background-color: transparent;
  border: solid 3px white;
  height: 120px;
  width: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
 
}
.move-icon{
  height: 50px;
}
.result{
  margin-top: 40px;
  font-size: 25px;
  font-weight: bold;
}

.score{
  margin-top: 70px;
}
.reset-button{
  padding: 8px 15px;
  font-size: 14px;
  
  cursor: pointer;
}
